* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

  background: #212428de;
  color: #ededed;
}

.nav-bar {

  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #212428de;
  position: fixed;
  backdrop-filter: blur(15px);
  top: 0;

}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.loggo {
  width: 15%;
  border: solid;
  border-radius: 50%;
}

.header a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transition: 1s;
}

.main {
  margin-top: 100px;
}

.artikel {
  text-align: center;
}

.hiderr {
  margin-bottom: 10px;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.slogan {
  font-size: 20px;
}

.seksion {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  margin-left: 80px;
  margin-bottom: 70px;
}

.arrtikel {
  width: 50%;
  height: 50%;
  position: relative;
}

.banner-slide {
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  display: flex;
  width: 100%;
}

.banner-slide.active {
  opacity: 1;
}

.banner-slide:not(.active) {
  opacity: 0;
}

.gambar {
  width: 250%;
  height: 250%;
  object-fit: cover;
  box-shadow: -7px 11px 20px #000000, -2px 20px 10px #444444;
}

.homepage {
  margin-left: 70px;

}

.homepage1 {
  margin: 30px 0 30px;
}

.pilihan {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.pilihan p {
  margin-left: 10px;
}

.angka {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  color: #00abf0;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.pilihan2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.pilihan2 p {
  margin-left: 10px;
}

.angka2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  color: #00abf0;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.seksion2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  margin-inline: 30px;
}

.packagee {
  width: 1500px;
  text-align: center;
  padding-bottom: 90px;
  font-size: 40px;
  padding-top: 30px;
}

.paket {
  display: flex;
  justify-content: center;
}

.package1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.package1 p {
  margin-left: 20px;
}

.satu {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  color: #00abf0;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.pakettengah {
  display: flex;
  justify-content: space-around;
  padding-block: 50px;
}

.seksion3 {
  margin-top: 130px;
  margin-left: 80px;
  margin-bottom: 130px;
}

.login-container {
  width: 684px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: -1px 17px 20px #000000, -2px 20px 10px #444444;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.input-group {
  margin-bottom: 20px;
  color: black;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-btn {
  width: 100%;
  height: 40px;
  background-color: #00abf0;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
}

.forgot-password a {
  color: #337ab7;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    font-size: 18px;
    display: none;
  }
  .header a {
    font-size: 16px;
    margin-left: 20px;
  }
  .main {
    margin-top: 50px;
  }
  .artikel {
    margin-top: 95px;
    text-align: center;
    font-size: 18px;
  }
  .hiderr {
    font-size: 30px;
  }
  .slogan {
    font-size: 16px;
  }
  .seksion {
    flex-direction: column;
    align-items: center;
    margin: 40px;
  }
  .arrtikel {
    width: 100%;
    height: 100%;
  }
  .banner-slide {
    width: 100%;
  }
  .gambar {
    width: 100%;
    height: 100%;
  }
  .homepage {
    margin-left: 20px;
    margin-top: 230px;
  }
  .pilihan {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
  }
  .angka {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
  }
  .pilihan2 {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 45px;

  }
  .angka2 {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
  }
  .seksion2 {
    flex-direction: column;
    align-items: center;
    margin: 60px;
  }
  .packagee {
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
    font-size: 24px;
    padding-top: 10px;
  }
  .paket {
    flex-direction: column;
    align-items: flex-start;
  }
  .package1 {
    margin-left: 0px;
    flex-direction: column;
    align-items: flex-start;
  }
  .satu {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
  }
  .pakettengah {
    flex-direction: column;
    align-items: flex-start;
    padding-block: 20px;
  }
  .seksion3 {
    margin: 57px;
  }
  .login-container {
    width: 90%;
    padding: 10px;
  }
  .input-group {
    margin-bottom: 10px;
  }
  .input-group label {
    margin-bottom: 5px;
  }
  .input-group input {
    height: 30px;
    padding: 5px;
  }
  #login-btn {
    height: 30px;
    padding: 5px;
  }
  .forgot-password {
    margin-top: 10px;
  }
}